/*body {}*/



.btn {
    font-size: .5rem !important;
    padding: .3rem .7rem;
}

.options-wrapper {
    margin: 10px 0;
    font-size: .5rem;

}


.options-wrapper * {
    margin: 0 auto;
    margin-right: 10px;
}


.logo {

    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.search-files {

    margin-top: 10px;
    display: block;
    width: 100%;
    height: calc(1em + .60rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;


}

/* 
.form-control {

    
}*/