html {
    min-height: 100%;
    height: 100%;
}


body {
    font-family: 'Montserrat',
        sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

/**NAVBAR**/


.navbar-expand-md,
.navbar-collapse {
    display: flex !important;
    flex-wrap: nowrap !important;
}


.navbar-nav,
.formInline {
    display: flex !important;
    flex-direction: row !important;
}

.logo {
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

.logo2 {
    margin-right: 20px;
    width: 60px;
    height: 40px;
}


/** MAIN-> three columns : files-wrapper, folder-content, file-info**/


.main {
    height: calc(100% - 140px) !important;
}


.columns-wrapper,
.files-wrapper {
    height: 100% !important;
}


.folder-content {
    height: 100% !important;
}


.folder-content tr:hover {

    cursor: pointer;
    background-color: lightblue;
}

.noResults {

    background-image: url("../../assets/no-search-result.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.row>div {
    border-right: 1px solid #ccc;
}

.btn {
    padding: .3rem .7rem;
}


.margin-t-20 {
    margin-top: 20px;
}

.margin-l-5 {
    margin-left: 5px;
}

.btn-news {
    max-width: 140px;
    height: 50px;
    margin-top: 0px !important;
}


.search-files {
    margin-top: 10px;
}

.navbar {
    z-index: 2;
    margin-bottom: 20px;
    box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 1);
}


label>input[type="file"] {
    display: none;
}

#formUpload {
    padding: 7px 12px;
    cursor: pointer;
    margin-bottom: 0;
}

/*** FOLDER STRUCTURE **/


.ext-icon {
    width: 25px;
    height: 25px;
}

.ext-icon-big {
    width: 35px;
    height: 35px;
}



#rootFolder {
    margin: 0;
    margin-top: 50px;
    font-family: FontAwesome;
    /* padding-left: 10%;*/
    width: 100% !important;
    height: calc(100% - 138px) !important;
    overflow: auto;
}

#rootFolder>.foldercontainer {
    width: 100% !important;
}

.foldercontainer,
.file,
.noitems {
    display: block;
    padding: 5px 5px 5px 20px;
}

.folder {
    color: black;
}

.file {
    color: blue;
}

.folder,
.file {
    cursor: pointer;
}

.noitems {
    display: none;
    pointer-events: none;
}

.folder:hover,
.file:hover {
    background: rgb(220, 220, 220, 0.5);
}

.folder:before,
.file:before {
    padding-right: 5px;
}

.label-root,
.label-fileInfo {
    margin: 10px;
}

.label-fileInfo {
    margin: 10px !important;
}

/*** DISPLAY FOLDER CONTENT**/


.path-label {
    height: 40px !important;
    color: white;
    margin-top: 10px;
    margin: 10px 20px 20px 20px;
    border-radius: 5px;
}


/*** FILE INFO **/


.fileInfo-wrapper {
    width: 100%;
}

.fileInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    width: 100%;

}

.fileInfo p {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}


.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.formInline {
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
    margin-left: auto !important;

}

/* Panel on bottom of fileInfo */

.fileOptions {
    position: absolute;
    bottom: 40px;
    width: 100%;
    padding-top: 20px;
    border-top: 3px solid black;
    display: flex;
    justify-content: center;
}

.fileOptions * {
    margin: 0 20px;
}

.fa-arrows-alt {
    color: white;
}


/** BOOSTRAP STYLE RESETING **/

.table .col-2,
.table .col-3,
.table .col-6,
table.col-1 {
    width: 100% !important;
    margin-right: 10px !important;
    text-align: center !important;
}

.table {
    width: 100% !important;
}

.mb-sm-0,
.my-sm-0 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.mr-sm-2,
.mx-sm-2 {
    margin-right: .5rem !important;
}


.searching {
    color: black;
    background-color: #ffc107;
    border-color: #ffc107;
}

/** UTILS **/

.flex-column {
    display: flex;
    flex-direction: column;
}


.success {
    background-color: #90EE90 !important;
}


.error {
    background-color: #ffcccb !important;
}

.hidden {
    display: hidden !important;
}


.info-window {
    position: fixed;
    top: 30%;
    left: 50%;
    padding: 15px;
    font-size: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    transform: scale(1.1);
    z-index: 1000;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear 0s, transform 0.25s;
}

.show-info {
    opacity: 1;
    visibility: visible;
    display: inline;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1000;
}

/*** SCROLLBAR ***/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 67, 155);
}

.w-60 {
    width: 60% !important;
}

.w-15 {
    width: 15% !important;
}

.w-25 {
    width: 25% !important;
}

.my-custom-scrollbar {
    position: relative;
    height: calc(100% - 125px);
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

/** MEDIA QUERIES **/



/** WIDTH **/
@media (max-width: 768px) {

    .logo {
        display: none;
    }

    .table .col-2 {
        display: none !important;
    }

}

@media (max-width: 580px) {
    .form-control {
        width: 200px;
    }
}

@media (max-width: 550px) {
    .form-control {
        width: 160px;
    }
}


@media (max-width: 610px) {

    .modified-label,
    .modified {
        display: none;
    }
}

@media (max-width: 420px) {

    footer {
        display: none;
    }

    .main {
        height: calc(100% - 80px) !important;
    }

}

/** WIDTH **/

@media (max-height:620px) {
    footer {
        display: none;
    }

    .main {

        height: calc(100% - 80px) !important;
    }
}