html {

    min-height: 100%;
    height: 100%;
}




body {

    font-family: 'Montserrat',
        sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;

}

.main {

    height: calc(100% - 120px) !important;
}

/** HTML STRUCTURE -> three columns**/

.columns-wrapper,
.files-wrapper {

    height: 100% !important;
}


.row>div {
    border-right: 1px solid #ccc;
}

.btn {
    padding: .3rem .7rem;
}


.margin-t-20 {
    margin-top: 20px;
}

.margin-l-5 {
    margin-left: 5px;
}

.btn-news {
    max-width: 140px;
    height: 50px;
    margin-top: 0px !important;
}

.options-wrapper * {
    margin: 0 auto;
    margin-right: 10px;
}


.logo {
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

.logo2 {
    margin-right: 20px;
    width: 60px;
    height: 40px;
}

.search-files {
    margin-top: 10px;
}

.navbar {
    z-index: 2 !important;
    margin-bottom: 20px;
    box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 1) !important;
}


/***UTILS**/



.hidden {
    display: hidden !important;
}


/* window for displaying messages*/

.info-window {
    position: fixed;
    top: 30%;
    left: 50%;
    padding: 15px;
    font-size: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    transform: scale(1.1);
    z-index: 1000;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear 0s, transform 0.25s;
}

.show-info {
    opacity: 1;
    visibility: visible;
    display: inline;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1000;
}



/* message tags*/

.success {
    background-color: #90EE90;
}


.error {
    background-color: #ffcccb;
}

/*#formUpload{
    display:flex;
    flex-direction: column;
    max-width: 310px;
    align-items: center;
}*/
.flex-column {
    display: flex;
    flex-direction: column;
}

label>input[type="file"] {
    display: none;
}

#formUpload {
    padding: 7px 12px;
    cursor: pointer;
    margin-bottom: 0;
}

/*** FOLDER STRUCTURE **/


.ext-icon {
    width: 25px;
    height: 25px;
}

#rootFolder {
    margin: 0;
    margin-top: 50px;
    font-family: FontAwesome;
    /* padding-left: 10%;*/
    width: 100% !important;
    overflow: auto;
}

#rootFolder>.foldercontainer {


    width: 100% !important;
}

.foldercontainer,
.file,
.noitems {
    display: block;
    padding: 5px 5px 5px 20px;
}

.folder {
    color: black;
}

.file {
    color: blue;
}

.folder,
.file {
    cursor: pointer;
}

.noitems {
    display: none;
    pointer-events: none;
}

.folder:hover,
.file:hover {
    background: rgb(220, 220, 220, 0.5);
}

.folder:before,
.file:before {
    padding-right: 5px;
}

.label-root,
.label-fileInfo {

    margin: 10px;
}

.label-fileInfo {
    margin: 10px !important;

}

/*** DISPLAY FOLDER CONTENT**/


.path-label {


    height: 40px !important;
    color: white;
    margin-top: 10px;
    margin: 10px 20px 20px 20px;
    border-radius: 5px;
}


.footer {


    position: absolute;
    bottom: 0px;
    width: 100%;

}



/** Media queries **/


@media (max-width: 768px) {

    .main {

        height: calc(100% - 60px) !important;

        min-height: calc(100% - 60px) !important;
    }

}